.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
.w-40 { width: 40%; }
.green-border { border:2px solid  #7cedff ; }
.show{
    position:fixed;
    top: 0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: #10101073;
}
.noshow{
    position:relative;
}
.white-space{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bg-succes{
    background-color:#00a945;
}
.disabled { background-color: #ccc; cursor: not-allowed; }
@media(max-Width:1024px){
    .w-full{
        width: 100%;

    }
    .h-full{
        height: 100%;
    }
    .show{
        background-color: rgba(0, 0, 0, 0.559);
        overflow: hidden;
}

}

